
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management System API</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="header">
       <h1>Student Management System API</h1>
       <button id="add-student"><a href="/home/add">Add Student</a ></button>
       
    </div>
    <hr>
     <div class="container">
       <% for(student of students){ %>
             <div class="card">
                <div class="display-img">
                    <img src="/images/student.png" alt="student image" class="image">
                </div>
                <div class="details">
                    <div class="info">
                    <h3 class="card-no">Id no : <%=student.id %></h3>
                    <h4 class="name">Name: <%=student.name %></h4>
                    <h4 class="course">Course: <%=student.course %></h4>
                    </div>
                    <div class="info-edit">
                        <button class="view"><a href="/home/<%=student.id %>" >View</a></button>
                        <button class="edit"><a href="/home/<%=student.id%>/edit">Edit</a></button>
                        <form method="post"  action="/home/<%=student.id%>?_method=DELETE">
                               <button id="delete">Delete</button>
                        </form>
                    </div>
                </div>
             </div>
       <% } %>
     </div>



    <script src="./script.js"></script>
</body>
</html>